<div class="container_big-card">

  <div class="app-big-card_photo">
    <img
      src="https://cdn.mindmajix.com/blog/images/angular-cli-231119.png"
      alt=""
      height="200px"
      srcset=""
    >
  </div>

  <div class="app-big-card_title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="app-big-card_description">
    <p>
      <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacinia risus. Mauris bibendum vulputate quam, non dignissim augue bibendum sagittis. In hac habitasse platea dictumst. Aenean sed laoreet nulla, vitae pulvinar ante. Ut vulputate tempus leo, ut sodales enim vehicula eu.
      </a>
    </p>
  </div>
</div>
